<div class="main">
  <div class="sideBarHeader">
    <p>Filter by</p>
    <p class="reset">Reset All</p>
  </div>
  <div>
    <form [formGroup]="profileForm" class="sideList">
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="AASTotalcount"
          type="checkbox"
          formControlName="AASTotalcount"
          class="form-check-input"
        />
        <label for="AASTotalcount">AAS Total count</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">AAS Total Write count</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
      <div>
        <input
          id="DiscUsage"
          type="checkbox"
          formControlName="DiscUsage"
          class="form-check-input"
        />
        <label for="DiscUsage">Disc Usage</label>
      </div>
    </form>
  </div>
</div>
